/* html {
  font-size: 62.5% !important;
} */

.bg-dark {
  background-color: #141414 !important;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
}

main {
  padding-left: 5%;
  padding-right: 5%;
  overflow-x: hidden;
  min-height: 100vh;
}

footer {
  padding-left: 5%;
  padding-right: 5%;
  overflow-x: hidden;
}

.navbar-brand img {
  width: 150px;
}

#search-bar {
  height: 50% !important;
  align-self: center !important;
}

nav form button:last-of-type img {
  width: 50px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
}

.dropdown-menu-left {
  right: 0 !important;
  left: auto !important;
}

/* .movie-row-container {
  transition: all 0.5s ease;
  opacity: 0.2;
}

.movie-row-container.visible {
  opacity: 1;
} */

.movie-row {
  position: relative;
}

.movie-row div.row {
  transition: all 0.3s ease-in-out;
  width: fit-content;
  scroll-behavior: smooth;
  position: relative;
}

.movie-row div.row div {
  transition: all 0.3s !important;
}

.movie-row div.row div:hover {
  transform: scale(1.1);
  z-index: 9;
  cursor: pointer;
}

.movie-row div.row div img {
  width: 100%;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;

  transition: all 0.3s;
  z-index: 10;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;

  transition: all 0.3s;
  z-index: 10;
}

.arrow-left:hover {
  cursor: pointer;
  transform: scale(1.2) translateY(-40%);
  opacity: 0.8;
}

.arrow-right:hover {
  cursor: pointer;
  transform: scale(1.2) translateY(-40%);
  opacity: 0.8;
}

footer ul {
  list-style: none !important;
  padding: 0;
}
